<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Login</title>
  </head>

  {% extends 'base.html' %}

  {% block content %}
    <br />
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0">
          <a href="#" class="text-white fw-bold">Continue reading...</a>
        </p>
      </div>
    </div>
<br>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow rounded-4 border border-secondary bg-secondary bg-opacity-50">
            <div class="card-body p-5">
              <h1 id="h1-contacta-formulario-1" class="text-center text-white mb-4">Iniciar Sesión</h1>
              <div id="div-info-contacta-1" class="mb-3 text-white text-center"></div>
              <form method="post" id="texto-centrado-form">
                {% csrf_token %}
                <div class="mb-4">
                  <input type="text" name="username" id="correo" placeholder="Usuario" required /><br />
                </div>
                <div class="mb-4">
                  <input type="password" name="password" id="clave" placeholder="Contraseña" required /><br />
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary px-5 py-2 rounded-pill shadow-sm">Ingresar</button>
                </div>
                <br />
                <p style="text-align: center;">
                  <a href="./registro/cliente">Registrate</a>
                </p>
                <p style="text-align: center;">
                  <a href="./registro/dueno/">Eres Dueño de Una Propiedad?? Registrate Aqui!</a>
                </p>
                <p style="text-align: center;">
                  <a href="/">Volver al inicio</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</html>
